extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/contact/add') Add a Contact
  hr
  if contacts.length > 0
    #todos-wrapper s
      ul.contacts-list 
        each val in contacts 
          li(data-todoid=val.id) 
            //- a(href=`/contacts/${val.id}`)= val.text
            p First name :  #{val.firstName}
            p Last name :  #{val.lastName}
            p Email:  #{val.email}
            p Notes :  #{val.notes}
            p Date :  #{val.date}

