extends layout

block content
  h1= title
  p= contact.firstName 
  p= contact.lastName
    .todo-actions 
      a(href='/contact') Show all Contacts
      | 
      a(href=`/contact/${contact.id}/delete`) Delete contact
      | 
      a(href=`/contact/${contact.id}/edit`) Edit contact